<!--HEADER-->
<header>
<!--TOP HEADER-->
<div id="top-header">
<div class="container">
    <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i>+3303-19-1452-2365</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i>contact@edidebs.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i>44 Grande rue 10190 Aix-Villemaur-Palis</a></li>
        <li><a href="#"><i class="fa fa-euro"></i>EURO</a></li>
        <li><a href="#"><i class="fa fa-user-o"></i>My Account</a></li>
    </ul>
</div>
</div>
<!--/TOP HEADER-->
<!--MAIN HEADER-->
    <div class="navbar">
        <div class="navbrad align-item-center d-flex">
            <!-- <i style="font-size: 40px; color:white;" class="fas fa-shopping-cart">&nbsp;
            </i> -->
            <img class="picture" src="http://localhost:8085/images/Logo_bg_transparent_small.png">
            <strong style="font-size: 30px;; color: white;">EDIDEBS</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search products">

             </div>
             <span class="fas fa-search search-icon"></span>
        </div>
        
        <button routerLink="cart" class="navbar-toggler" data-toggle="collapse" style="border: none;">
            <i style="font-size: 15px;" class="bi bi-bag"></i> 
            <div style="font-size: 12px; margin-left:3px;" class="badge bg-danger">{{totalItem}}</div>
        </button>   
    
        
             <h5 class="nav-item">
            <a class="nav-link" href="/user/management">User management</a>
             </h5>

             <h5 class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </h5>
            <h5 class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </h5>
             

        
    </div>
</header>
 